@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  margin: 0px;
  border: none;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background-image: url(../imges/peakpx.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  row-gap: 20px;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header * {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header {
  text-transform: uppercase;
  overflow-x: clip;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
}
.header .nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header .nav .nav-menu .page-active {
  color: white;
  border-bottom-color: white;
}
.header .nav .nav-menu li {
  font-size: 30px;
  margin-left: 35px;
  padding: 26px 0 24px;
  color: #00c4ff;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.header .nav .nav-menu li:hover {
  text-shadow: 0px 0px 10px;
  border-bottom: 2px solid #00c4ff;
}
@media (max-width: 1200px) {
  .header .nav {
    margin: 0 30px;
  }
}
@media (max-width: 960px) {
  .header .nav .nav-menu li {
    font-size: 27px;
  }
}
@media (max-width: 840px) {
  .header .nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 0 20px;
    position: relative;
  }
  .header .nav .nav-menu li {
    padding: 16px 0 14px;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .header .nav {
    margin: 0 10px;
  }
  .header .nav .nav-menu li {
    margin-left: 20px;
    padding: 16px 0 5px;
    font-size: 16px;
  }
}
@media (max-width: 300px) {
  .header .nav .nav-menu li {
    margin-left: 15px;
    font-size: 13px;
  }
}

.main {
  width: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: clip;
  position: relative;
}

.main * {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(black), to(rgba(228, 0, 255, 0.1490196078)));
  background: linear-gradient(90deg, black, black, rgba(228, 0, 255, 0.1490196078));
  -webkit-box-shadow: 1px 1px 25px purple;
          box-shadow: 1px 1px 25px purple;
  text-transform: uppercase;
}
.footer .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
  min-height: 80px;
  margin: 0 auto;
  color: white;
}
.footer .footer-main > * {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  max-width: 200px;
}
.footer .footer-main .contacts {
  width: auto;
}
.footer .footer-main .contacts svg {
  width: 40px;
  max-width: none;
  height: 40px;
  margin: 0 15px;
}
.footer .footer-main .contacts svg:hover use {
  fill: orange;
}
.footer .footer-main .contacts svg use {
  fill: white;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
@media (max-width: 1200px) {
  .footer .footer-main {
    margin: 0 30px;
  }
}
@media (max-width: 840px) {
  .footer {
    display: inline-table;
    background: -webkit-gradient(linear, right top, left top, from(black), color-stop(black), to(rgba(228, 0, 255, 0.1490196078)));
    background: linear-gradient(270deg, black, black, rgba(228, 0, 255, 0.1490196078));
  }
  .footer .footer-main {
    margin: 0 20px;
  }
  .footer .footer-main div {
    width: 160px;
  }
  .footer .footer-main .contacts a svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 500px) {
  .footer.footer-main {
    margin: 0 10px;
  }
  .footer .footer-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
    row-gap: 10px;
  }
  .footer .footer-main div {
    font-size: 10px;
  }
  .footer .footer-main .contacts a svg {
    width: 25px;
    height: 25px;
  }
}

* {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.content-title span {
  font-family: "Righteous", cursive;
}

.article *,
.content-body::before {
  font-family: "Wix Madefor Display", sans-serif;
}

@-webkit-keyframes balance {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30%, 60% {
    color: #ff007c;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes balance {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30%, 60% {
    color: #ff007c;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@-webkit-keyframes shrinkjump {
  10%, 35% {
    color: #ff007c;
    -webkit-transform: scale(2, 0.2) translate(0, 0);
            transform: scale(2, 0.2) translate(0, 0);
  }
  45%, 50% {
    color: #ff007c;
    -webkit-transform: scale(1) translate(0, -150px);
            transform: scale(1) translate(0, -150px);
  }
  80% {
    color: #ff007c;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}
@keyframes shrinkjump {
  10%, 35% {
    color: #ff007c;
    -webkit-transform: scale(2, 0.2) translate(0, 0);
            transform: scale(2, 0.2) translate(0, 0);
  }
  45%, 50% {
    color: #ff007c;
    -webkit-transform: scale(1) translate(0, -150px);
            transform: scale(1) translate(0, -150px);
  }
  80% {
    color: #ff007c;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}
@-webkit-keyframes falling {
  12% {
    color: #ff007c;
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
  }
  24% {
    color: #ff007c;
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  36% {
    color: #ff007c;
    -webkit-transform: rotateX(200deg);
            transform: rotateX(200deg);
  }
  48% {
    color: #ff007c;
    -webkit-transform: rotateX(175deg);
            transform: rotateX(175deg);
  }
  60%, 85% {
    color: #ff007c;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes falling {
  12% {
    color: #ff007c;
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
  }
  24% {
    color: #ff007c;
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  36% {
    color: #ff007c;
    -webkit-transform: rotateX(200deg);
            transform: rotateX(200deg);
  }
  48% {
    color: #ff007c;
    -webkit-transform: rotateX(175deg);
            transform: rotateX(175deg);
  }
  60%, 85% {
    color: #ff007c;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotate {
  20%, 80% {
    color: #ff007c;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate {
  20%, 80% {
    color: #ff007c;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes toplong {
  10%, 40% {
    color: #ff007c;
    -webkit-transform: translateY(-50vh) scaleY(1);
            transform: translateY(-50vh) scaleY(1);
  }
  90% {
    color: #ff007c;
    -webkit-transform: translateY(-20vh) scaleY(4);
            transform: translateY(-20vh) scaleY(4);
  }
}
@keyframes toplong {
  10%, 40% {
    color: #ff007c;
    -webkit-transform: translateY(-50vh) scaleY(1);
            transform: translateY(-50vh) scaleY(1);
  }
  90% {
    color: #ff007c;
    -webkit-transform: translateY(-20vh) scaleY(4);
            transform: translateY(-20vh) scaleY(4);
  }
}
@-webkit-keyframes balanced {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30%, 60% {
    color: #ff007c;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes balanced {
  0%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30%, 60% {
    color: #ff007c;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@-webkit-keyframes content-img-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes content-img-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes content-body-animation {
  0% {
    font-size: 27px;
    -webkit-transform: scale(0.1) translate(-1000%, 50%);
            transform: scale(0.1) translate(-1000%, 50%);
    color: orange;
  }
  75% {
    color: orange;
  }
  100% {
    -webkit-transform: scale(1.1) translate(-100, 220%);
            transform: scale(1.1) translate(-100, 220%);
    opacity: 1;
  }
}
@keyframes content-body-animation {
  0% {
    font-size: 27px;
    -webkit-transform: scale(0.1) translate(-1000%, 50%);
            transform: scale(0.1) translate(-1000%, 50%);
    color: orange;
  }
  75% {
    color: orange;
  }
  100% {
    -webkit-transform: scale(1.1) translate(-100, 220%);
            transform: scale(1.1) translate(-100, 220%);
    opacity: 1;
  }
}
@-webkit-keyframes min-content-body-animation {
  0% {
    font-size: 27px;
    -webkit-transform: scale(0.1) translate(-1000%, 50%);
            transform: scale(0.1) translate(-1000%, 50%);
    color: orange;
  }
  75% {
    color: orange;
  }
  100% {
    -webkit-transform: scale(1.1) translate(-51, 260%);
            transform: scale(1.1) translate(-51, 260%);
    opacity: 1;
  }
}
@keyframes min-content-body-animation {
  0% {
    font-size: 27px;
    -webkit-transform: scale(0.1) translate(-1000%, 50%);
            transform: scale(0.1) translate(-1000%, 50%);
    color: orange;
  }
  75% {
    color: orange;
  }
  100% {
    -webkit-transform: scale(1.1) translate(-51, 260%);
            transform: scale(1.1) translate(-51, 260%);
    opacity: 1;
  }
}
@-webkit-keyframes circle-animation {
  0% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
    height: 100px;
    width: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff007c));
    background: linear-gradient(180deg, #ff007c);
  }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff007c));
    background: linear-gradient(180deg, #ff007c);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#0087ff));
    background: linear-gradient(180deg, #0087ff);
    -webkit-box-shadow: 1px 0px 26px #0087ff;
            box-shadow: 1px 0px 26px #0087ff;
  }
}
@keyframes circle-animation {
  0% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
    height: 100px;
    width: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff007c));
    background: linear-gradient(180deg, #ff007c);
  }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff007c));
    background: linear-gradient(180deg, #ff007c);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#0087ff));
    background: linear-gradient(180deg, #0087ff);
    -webkit-box-shadow: 1px 0px 26px #0087ff;
            box-shadow: 1px 0px 26px #0087ff;
  }
}
@-webkit-keyframes min-circle-animation {
  0% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
    height: 100px;
    width: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(orange), to(orange));
    background: linear-gradient(180deg, orange, orange);
  }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(orange), to(orange));
    background: linear-gradient(180deg, orange, orange);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#0058ff));
    background: linear-gradient(180deg, #0058ff);
    -webkit-box-shadow: 1px 0px 26px #600072;
            box-shadow: 1px 0px 26px #600072;
  }
}
@keyframes min-circle-animation {
  0% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
    height: 100px;
    width: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(orange), to(orange));
    background: linear-gradient(180deg, orange, orange);
  }
  90% {
    background: -webkit-gradient(linear, left top, left bottom, from(orange), to(orange));
    background: linear-gradient(180deg, orange, orange);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#0058ff));
    background: linear-gradient(180deg, #0058ff);
    -webkit-box-shadow: 1px 0px 26px #600072;
            box-shadow: 1px 0px 26px #600072;
  }
}
@-webkit-keyframes content-animation {
  0% {
    -webkit-transform: rotate3d(1, 1, 1, 121deg);
            transform: rotate3d(1, 1, 1, 121deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate3d(1, 1, 1, 360deg);
            transform: translateX(0) rotate3d(1, 1, 1, 360deg);
  }
}
@keyframes content-animation {
  0% {
    -webkit-transform: rotate3d(1, 1, 1, 121deg);
            transform: rotate3d(1, 1, 1, 121deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate3d(1, 1, 1, 360deg);
            transform: translateX(0) rotate3d(1, 1, 1, 360deg);
  }
}
@-webkit-keyframes hidden-content-animation {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(500%) scale(0);
            transform: translateX(500%) scale(0);
    opacity: 0;
  }
}
@keyframes hidden-content-animation {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(500%) scale(0);
            transform: translateX(500%) scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes modal-content {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes modal-content {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1160px;
  width: -webkit-fill-available;
  margin: auto;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  color: blue;
}
.main .container .sections-1 {
  width: 450px;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  row-gap: 60px;
  position: relative;
  -webkit-perspective: 147px;
          perspective: 147px;
}
.main .container .sections-1 .article {
  position: absolute;
  height: 334px;
  -webkit-transform: translate(0%, -30%) rotateX(0) rotateY(0) scale(1);
          transform: translate(0%, -30%) rotateX(0) rotateY(0) scale(1);
  font-size: 20px;
  color: white;
  line-height: 1.5;
  letter-spacing: 2px;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
  overflow-y: auto;
}
.main .container .sections-1 .article:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
  position: absolute;
  height: 334px;
  -webkit-transform: translate(0%, -30%) rotateX(0) rotateY(0) scale(1);
          transform: translate(0%, -30%) rotateX(0) rotateY(0) scale(1);
  font-size: 20px;
  color: white;
  line-height: 1.5;
  letter-spacing: 2px;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
  overflow-y: auto;
}
.main .container .sections-1 .article:nth-child(3)::-webkit-scrollbar {
  width: 0;
}
.main .container .sections-1 .article:nth-child(3) .article-img {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.main .container .sections-1 .article:nth-child(3) .article-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.main .container .sections-1 .article:nth-child(3) .article-img img:hover {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}
.main .container .sections-1 .article-hidden {
  -webkit-transform: translate(-500%, -256%) rotateX(37deg) rotateY(26deg) scale(0.001) !important;
          transform: translate(-500%, -256%) rotateX(37deg) rotateY(26deg) scale(0.001) !important;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.main .container .sections-1 address ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main .container .sections-1 address ul li {
  margin-right: 30px;
  cursor: pointer;
}
.main .container .sections-1 address ul li :hover use {
  fill: white;
}
.main .container .sections-1 address ul li svg {
  display: block;
  width: 50px;
  height: 50px;
}
.main .container .sections-1 address ul li svg use {
  fill: #0058ff;
}
.main .container .sections-2 {
  position: relative;
  width: 550px;
  min-height: 450px;
}
.main .container .sections-2 .content:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  -webkit-animation: content-animation 500ms ease-in;
          animation: content-animation 500ms ease-in;
}
.main .container .sections-2 .content:nth-child(1) .content-title {
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 100;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: white;
  text-shadow: 5px 5px 0 black, 7px 7px 10px black;
}
.main .container .sections-2 .content:nth-child(1) .content-title span {
  cursor: pointer;
  display: inline-block;
  font-size: 72px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 0.8;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(1).active {
  -webkit-animation: balance 1s ease-out;
          animation: balance 1s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(2).active {
  -webkit-animation: shrinkjump 1s ease-in-out;
          animation: shrinkjump 1s ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(3).active {
  -webkit-animation: falling 1s ease-out;
          animation: falling 1s ease-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(4).active {
  -webkit-animation: rotate 1s ease-out;
          animation: rotate 1s ease-out;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(5).active {
  -webkit-animation: toplong 1s linear;
          animation: toplong 1s linear;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(6).active {
  -webkit-animation: falling 1s ease-out;
          animation: falling 1s ease-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(7).active {
  -webkit-animation: rotate 1s ease-out;
          animation: rotate 1s ease-out;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(8).active {
  -webkit-animation: shrinkjump 1s ease-in-out;
          animation: shrinkjump 1s ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(1) .content-title span:nth-child(9).active {
  -webkit-animation: balanced 1s ease-out;
          animation: balanced 1s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.main .container .sections-2 .content:nth-child(1) .circle::after {
  content: "";
  display: inline-block;
  height: 400px;
  width: 400px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  border: none;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0087ff), to(rgba(255, 0, 123, 0.2117647059)));
  background: linear-gradient(180deg, #0087ff, rgba(255, 0, 123, 0.2117647059));
  -webkit-box-shadow: 1px 0px 26px #600072;
          box-shadow: 1px 0px 26px #600072;
  opacity: 0;
  -webkit-animation: circle-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: circle-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(1) .content-img::before {
  content: "";
  width: 282px;
  height: 382px;
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-127%, -2%);
          transform: translate(-127%, -2%);
  z-index: 99;
  background-image: url(../imges/Picsart_23-05-24_22-30-50-696.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-animation: content-img-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: content-img-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(1) .content-body * {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.main .container .sections-2 .content:nth-child(1) .content-body::before {
  content: "ВЕБ РАЗРАБОТЧИК\aФРИЛАНСЕР\aСОЗДАНИЕ САЙТОВ";
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-100%, 220%);
          transform: translate(-100%, 220%);
  z-index: 98;
  color: white;
  text-shadow: 5px 5px 0 black, 7px 7px 10px black;
  font-size: 47px;
  font-weight: 900;
  white-space: pre;
  text-align: end;
  line-height: 1;
  letter-spacing: -2px;
  opacity: 0;
  -webkit-animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  -webkit-animation: content-animation 500ms ease-in;
          animation: content-animation 500ms ease-in;
}
.main .container .sections-2 .content:nth-child(2) .content-title {
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 100;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: white;
  text-shadow: 5px 5px 0 black, 7px 7px 10px black;
}
.main .container .sections-2 .content:nth-child(2) .content-title span {
  cursor: pointer;
  display: inline-block;
  font-size: 69px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 0.8;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(1).active {
  -webkit-animation: balance 1s ease-out;
          animation: balance 1s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(2).active {
  -webkit-animation: shrinkjump 1s ease-in-out;
          animation: shrinkjump 1s ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(3).active {
  -webkit-animation: falling 1s ease-out;
          animation: falling 1s ease-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(4).active {
  -webkit-animation: rotate 1s ease-out;
          animation: rotate 1s ease-out;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(6).active {
  -webkit-animation: toplong 1s linear;
          animation: toplong 1s linear;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(7).active {
  -webkit-animation: falling 1s ease-out;
          animation: falling 1s ease-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(8).active {
  -webkit-animation: rotate 1s ease-out;
          animation: rotate 1s ease-out;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(10).active {
  -webkit-animation: shrinkjump 1s ease-in-out;
          animation: shrinkjump 1s ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(2) .content-title span:nth-child(11).active {
  -webkit-animation: balanced 1s ease-out;
          animation: balanced 1s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.main .container .sections-2 .content:nth-child(2) .circle::after {
  content: "";
  display: inline-block;
  height: 400px;
  width: 400px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  border: none;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0087ff), to(rgba(255, 0, 123, 0.2117647059)));
  background: linear-gradient(180deg, #0087ff, rgba(255, 0, 123, 0.2117647059));
  -webkit-box-shadow: 1px 0px 26px #600072;
          box-shadow: 1px 0px 26px #600072;
  opacity: 0;
  -webkit-animation: circle-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: circle-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(2) .moving-elements {
  display: inline-block;
  position: absolute;
  content: "";
  width: 280px;
  height: 280px;
  -webkit-transform: translate(-23%, 19%);
          transform: translate(-23%, 19%);
  background-image: url(../imges/Picsart_23-06-02_20-00-37-255.png);
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(2) .content-img::before {
  content: "";
  width: 282px;
  height: 382px;
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-120%, 6%);
          transform: translate(-120%, 6%);
  z-index: 99;
  background-image: url(../imges/Picsart_23-05-23_11-19-18-111.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-animation: content-img-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: content-img-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(2) .content-body * {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.main .container .sections-2 .content:nth-child(2) .content-body::before {
  content: "ВЕРСТКА                 \aМНОГОСТРАНИЧНОГО\aСАЙТА                      ";
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-100%, 248%);
          transform: translate(-100%, 248%);
  z-index: 98;
  color: white;
  text-shadow: 5px 5px 0 black, 7px 7px 10px black;
  font-size: 43px;
  font-weight: 900;
  white-space: pre;
  text-align: end;
  line-height: 1;
  letter-spacing: -2px;
  opacity: 0;
  -webkit-animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  -webkit-animation: content-animation 500ms ease-in;
          animation: content-animation 500ms ease-in;
}
.main .container .sections-2 .content:nth-child(3) .content-title {
  position: absolute;
  -webkit-transform: translate(-12%, 0);
          transform: translate(-12%, 0);
  z-index: 100;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: white;
  text-shadow: 5px 5px 0 black, 7px 7px 10px black;
}
.main .container .sections-2 .content:nth-child(3) .content-title span {
  cursor: pointer;
  display: inline-block;
  font-size: 72px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 0.8;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(1).active {
  -webkit-animation: balance 1s ease-out;
          animation: balance 1s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(2).active {
  -webkit-animation: shrinkjump 1s ease-in-out;
          animation: shrinkjump 1s ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(3).active {
  -webkit-animation: falling 1s ease-out;
          animation: falling 1s ease-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(4).active {
  -webkit-animation: rotate 1s ease-out;
          animation: rotate 1s ease-out;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(5).active {
  -webkit-animation: toplong 1s linear;
          animation: toplong 1s linear;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(6).active {
  -webkit-animation: falling 1s ease-out;
          animation: falling 1s ease-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(7).active {
  -webkit-animation: rotate 1s ease-out;
          animation: rotate 1s ease-out;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(8).active {
  -webkit-animation: shrinkjump 1s ease-in-out;
          animation: shrinkjump 1s ease-in-out;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.main .container .sections-2 .content:nth-child(3) .content-title span:nth-child(9).active {
  -webkit-animation: balanced 1s ease-out;
          animation: balanced 1s ease-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.main .container .sections-2 .content:nth-child(3) .circle::after {
  content: "";
  display: inline-block;
  height: 400px;
  width: 400px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  border: none;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0087ff), to(rgba(255, 0, 123, 0.2117647059)));
  background: linear-gradient(180deg, #0087ff, rgba(255, 0, 123, 0.2117647059));
  -webkit-box-shadow: 1px 0px 26px #600072;
          box-shadow: 1px 0px 26px #600072;
  opacity: 0;
  -webkit-animation: circle-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: circle-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(3) .moving-elements {
  display: inline-block;
  position: absolute;
  content: "";
  width: 230px;
  height: 230px;
  -webkit-transform: translate(-2%, 36%);
          transform: translate(-2%, 36%);
  background-image: url(../imges/Picsart_23-06-02_20-56-41-875.png);
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 2000ms forwards;
          animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 2000ms forwards;
}
.main .container .sections-2 .content:nth-child(3) .content-img::before {
  content: "";
  width: 250px;
  height: 250px;
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-132%, 31%);
          transform: translate(-132%, 31%);
  z-index: 99;
  background-image: url(../imges/Picsart_23-05-23_11-32-20-156.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: content-img-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: content-img-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content:nth-child(3) .content-body {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.main .container .sections-2 .content:nth-child(3) .content-body::before {
  content: "СДЕЛАЙ  ПАУЗУ\aЗДЕСЬ";
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-100%, 372%);
          transform: translate(-100%, 372%);
  z-index: 98;
  color: white;
  text-shadow: 5px 5px 0 black, 7px 7px 10px black;
  font-size: 47px;
  font-weight: 900;
  white-space: pre;
  text-align: center;
  line-height: 1;
  letter-spacing: -2px;
  opacity: 0;
  -webkit-animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
          animation: content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
}
.main .container .sections-2 .content-hidden {
  opacity: 0;
  -webkit-animation: hidden-content-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 800ms forwards !important;
          animation: hidden-content-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 800ms forwards !important;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
@media (max-width: 1200px) {
  .main .container {
    margin: 0 30px;
  }
}
@media (max-width: 960px) {
  .main .sections-1 {
    min-height: 436px;
  }
  .main .sections-1 .article:nth-child(1), .main .sections-1 .article:nth-child(2), .main .sections-1 .article:nth-child(3) {
    height: 300px;
    -webkit-transform: translate(0%, -45%) rotateX(0) rotateY(0) scale(1);
            transform: translate(0%, -45%) rotateX(0) rotateY(0) scale(1);
  }
  .main .sections-1 address ul li svg {
    width: 40px;
    height: 40px;
  }
  .main .container .sections-1, .main .container .sections-2 {
    min-height: 436px;
  }
  .main .container .sections-2 .content {
    height: 436px;
  }
  .main .container .sections-2 .content:nth-child(1) .content-body::before {
    text-align: center;
    -webkit-transform: translate(-100%, 261%);
            transform: translate(-100%, 261%);
    font-size: 40px;
  }
  .main .container .sections-2 .content:nth-child(2) .content-title span {
    font-size: 58px;
  }
  .main .container .sections-2 .content:nth-child(2) .content-img::before {
    width: 285px;
    height: 357px;
    -webkit-transform: translate(-121%, 11%);
            transform: translate(-121%, 11%);
  }
  .main .container .sections-2 .content:nth-child(2) .content-body::before {
    content: "ВЕРСТКА                        \aМНОГОСТРАНИЧНОГО\aСАЙТА                             ";
    text-align: end;
    -webkit-transform: translate(-99%, 287%);
            transform: translate(-99%, 287%);
    font-size: 37px;
  }
  .main .container .sections-2 .content:nth-child(3) .content-title {
    -webkit-transform: translate(-22%, 0);
            transform: translate(-22%, 0);
  }
  .main .container .sections-2 .content:nth-child(3) .content-title span {
    font-size: 63px;
  }
  .main .container .sections-2 .content:nth-child(3) .content-body::before {
    text-align: center;
    -webkit-transform: translate(-113%, 439%);
            transform: translate(-113%, 439%);
    font-size: 40px;
  }
}
@media (max-width: 840px) {
  .main .container {
    margin: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 20px;
  }
  .main .container .sections-1 {
    width: auto;
    min-height: 205px;
  }
  .main .container .sections-1 .article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(0%, -70%) rotateX(0) rotateY(0) scale(1);
            transform: translate(0%, -70%) rotateX(0) rotateY(0) scale(1);
    height: 120px;
    font-size: 15px;
  }
  .main .container .sections-1 address ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .container .sections-1 address ul li {
    margin-inline: 10px;
  }
  .main .container .sections-1 address ul li svg {
    width: 50px;
    height: 50px;
  }
  .main .container .sections-2 {
    width: auto;
    min-height: 340px;
  }
  .main .container .sections-2 .content {
    width: auto;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    height: 340px;
  }
  .main .container .sections-2 .content:nth-child(1) .content-title, .main .container .sections-2 .content:nth-child(2) .content-title, .main .container .sections-2 .content:nth-child(3) .content-title {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  .main .container .sections-2 .content:nth-child(1) .content-title span, .main .container .sections-2 .content:nth-child(2) .content-title span, .main .container .sections-2 .content:nth-child(3) .content-title span {
    font-size: 51px;
  }
  .main .container .sections-2 .content:nth-child(1) .circle::after, .main .container .sections-2 .content:nth-child(2) .circle::after, .main .container .sections-2 .content:nth-child(3) .circle::after {
    width: 300px;
    height: 300px;
    -webkit-animation: min-circle-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards !important;
            animation: min-circle-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards !important;
  }
  .main .container .sections-2 .content:nth-child(1) .content-body::before, .main .container .sections-2 .content:nth-child(2) .content-body::before, .main .container .sections-2 .content:nth-child(3) .content-body::before {
    -webkit-animation: min-content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
            animation: min-content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
  }
  .main .container .sections-2 .content:nth-child(1) .content-img::before {
    width: 224px;
    height: 292px;
    -webkit-transform: translate(-55%, -2%);
            transform: translate(-55%, -2%);
  }
  .main .container .sections-2 .content:nth-child(1) .content-body::before {
    -webkit-transform: translate(-51%, 260%);
            transform: translate(-51%, 260%);
    -webkit-animation: min-content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
            animation: min-content-body-animation cubic-bezier(0.68, -0.55, 0.27, 1.55) 1000ms forwards;
    font-size: 31px;
  }
  .main .container .sections-2 .content:nth-child(2) .moving-elements {
    -webkit-transform: translate(0%, 16%);
            transform: translate(0%, 16%);
    width: 233px;
    height: 216px;
  }
  .main .container .sections-2 .content:nth-child(2) .content-img::before {
    width: 223px;
    height: 300px;
    -webkit-transform: translate(-50%, 3%);
            transform: translate(-50%, 3%);
  }
  .main .container .sections-2 .content:nth-child(2) .content-body::before {
    -webkit-transform: translate(-52%, 261%);
            transform: translate(-52%, 261%);
    font-size: 31px;
  }
  .main .container .sections-2 .content:nth-child(3) .moving-elements {
    -webkit-transform: translate(45%, 36%);
            transform: translate(45%, 36%);
  }
  .main .container .sections-2 .content:nth-child(3) .content-img::before {
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-51%, 25%);
            transform: translate(-51%, 25%);
  }
  .main .container .sections-2 .content:nth-child(3) .content-body::before {
    -webkit-transform: translate(-51%, 421%);
            transform: translate(-51%, 421%);
    font-size: 31px;
  }
  .main .container .sections-2 .content:nth-child(4) .content-title {
    -webkit-transform: translate(-1%, 0);
            transform: translate(-1%, 0);
  }
  .main .container .sections-2 .content:nth-child(4) .content-img::before {
    -webkit-transform: translate(-52%, 30%);
            transform: translate(-52%, 30%);
  }
  .main .container .sections-2 .content:nth-child(4) .content-body::before {
    -webkit-transform: translate(-52%, 342%);
            transform: translate(-52%, 342%);
    font-size: 49px;
  }
}
@media (max-width: 500px) {
  .main .container {
    margin: 0 10px;
  }
  .main .container .sections-2, .main .container .sections-2 .content {
    height: 233px;
    min-height: 233px;
  }
  .main .container .sections-2 .content:nth-child(1) .content-title span {
    font-size: 30px;
  }
  .main .container .sections-2 .content:nth-child(1) .circle::after {
    width: 200px;
    height: 200px;
  }
  .main .container .sections-2 .content:nth-child(1) .content-img::before {
    width: 150px;
    height: 168px;
    -webkit-transform: translate(-56%, 5%);
            transform: translate(-56%, 5%);
  }
  .main .container .sections-2 .content:nth-child(1) .content-body::before {
    -webkit-transform: translate(-53%, 244%);
            transform: translate(-53%, 244%);
    font-size: 22px;
  }
  .main .container .sections-2 .content:nth-child(2) .content-title span {
    font-size: 30px;
  }
  .main .container .sections-2 .content:nth-child(2) .moving-elements {
    -webkit-transform: translate(-3%, 12%);
            transform: translate(-3%, 12%);
    width: 142px;
    height: 148px;
  }
  .main .container .sections-2 .content:nth-child(2) .circle::after {
    width: 200px;
    height: 200px;
  }
  .main .container .sections-2 .content:nth-child(2) .content-img::before {
    width: 160px;
    height: 169px;
    -webkit-transform: translate(-52%, 12%);
            transform: translate(-52%, 12%);
  }
  .main .container .sections-2 .content:nth-child(2) .content-body::before {
    content: "ВЕРСТКА\aМНОГОСТРАНИЧНОГО \aСАЙТА";
    -webkit-transform: translate(-52%, 245%);
            transform: translate(-52%, 245%);
    font-size: 22px;
    text-align: center;
  }
  .main .container .sections-2 .content:nth-child(3) .content-title span {
    font-size: 30px;
  }
  .main .container .sections-2 .content:nth-child(3) .circle::after {
    width: 200px;
    height: 200px;
  }
  .main .container .sections-2 .content:nth-child(3) .content-img::before {
    width: 130px;
    height: 130px;
    -webkit-transform: translate(-51%, 28%);
            transform: translate(-51%, 28%);
  }
  .main .container .sections-2 .content:nth-child(3) .content-body::before {
    -webkit-transform: translate(-52%, 399%);
            transform: translate(-52%, 399%);
    font-size: 22px;
  }
  .main .container .sections-1 {
    min-height: 190px;
  }
  .main .container .sections-1 .article {
    -webkit-transform: translate(0%, -57%) rotateX(0) rotateY(0) scale(1);
            transform: translate(0%, -57%) rotateX(0) rotateY(0) scale(1);
    height: 120px;
    margin-inline: 15px;
    font-size: 10px;
  }
  .main .container .sections-1 address ul li svg {
    width: 30px;
    height: 30px;
  }
}

.modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  top: 0;
  left: 0;
}

.modal-button {
  position: absolute;
  right: 30px;
  top: 15px;
  z-index: 1001;
  font-size: 20px;
  -webkit-transform: translate(183%, -167%);
          transform: translate(183%, -167%);
  border: none;
  font-family: "Righteous";
  color: #f9f9f9;
  font-weight: 800;
  text-shadow: 1px 1px 9px black;
  cursor: pointer;
}
.modal-button:hover {
  text-shadow: 1px 1px 5px rgb(3, 109, 231);
}

.modal-content {
  position: relative;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
  -webkit-animation: modal-content 0.4s ease-in;
          animation: modal-content 0.4s ease-in;
}

.modal-content img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 20px rgba(128, 0, 128, 0.3803921569);
          box-shadow: 1px 1px 20px rgba(128, 0, 128, 0.3803921569);
}

.modal-caption {
  width: 500px;
  text-align: center;
  color: white;
}

@media (max-width: 840px) {
  .modal-content {
    width: 400px;
    height: 400px;
  }
  .modal-caption {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .modal-content {
    width: 300px;
    height: 300px;
  }
  .modal-caption {
    width: 300px;
  }
}
