.header * {
  transition: all 0.2s ease-in;
}
.header {
  text-transform: uppercase;
  overflow-x: clip;

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;

    .nav-menu {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: end;
      .page-active {
        color: white;
        border-bottom-color: white;
      }

      li {
        font-size: 30px;
        margin-left: 35px;
        padding: 26px 0 24px;
        color: #00c4ff;
        border-bottom: 2px solid transparent;
        cursor: pointer;

        &:hover {
          color: white;
          text-shadow: 0px 0px 10px white;
          border-bottom-color: white;
        }
      }
    }
  }
  // media
  // 1440
  @media (max-width: 1200px) {
    & .nav {
      margin: 0 30px;
    }
  }
  // 960
  @media (max-width: 960px) {
    & .nav .nav-menu li {
      font-size: 27px;
    }
  }
  // 840
  @media (max-width: 840px) {
    & .nav {
      justify-content: end;
      margin: 0 20px;
      position: relative;
    }
    & .nav .nav-menu li {
      padding: 16px 0 14px;
      font-size: 17px;
    }
  }
  // 600
  @media (max-width: 500px) {
    & .nav {
      margin: 0 10px;
    }
    & .nav .nav-menu li {
      margin-left: 20px;
      padding: 16px 0 5px;
      font-size: 16px;
    }
  }
  @media (max-width: 300px) {
    & .nav .nav-menu li {
      margin-left: 15px;
      font-size: 13px;
    }
  }
}
