.main {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
  position: relative;
}
.main * {
  transition: all 0.2s ease-in;
}

